[submodule "routahe"]
	path = routahe
	url = ssh://aur@aur.archlinux.org/routahe.git
[submodule "kanttiinit-git"]
	path = kanttiinit-git
	url = ssh://aur@aur.archlinux.org/kanttiinit-git.git
[submodule "edgedb-cli"]
	path = edgedb-cli
	url = ssh://aur@aur.archlinux.org/edgedb-cli.git
[submodule "expo-cli"]
	path = expo-cli
	url = ssh://aur@aur.archlinux.org/expo-cli.git
